*{
   
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}


/*Styles pour la page d'acceuil*/

.home {
    min-height: 100vh;
    background:url('https://img.freepik.com/premium-photo/cocktail-night-drink-beach_855607-389.jpg')center center no-repeat;
    background-size: cover;
  
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 100px 100px 20px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    font-size: 1.5em;
    user-select: none;
}



header >h1 {
    margin: 0; 
    position: fixed;
    top: 0; 
    left: 0; 
    color: white; 
    padding-left: 20px;
    padding-top:20px; 
}

header >h1>span {
    color:rgb(255, 0, 0)
}




.hero-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100vh;
    padding: 0 20px;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    color: #fff;
    padding-left: 70px; 
}


.hero-section h2 {
    font-size: 2rem;
    max-width: 600px;
    line-height: 70px;
}


.hero-section p.mainly {
    font-weight: 300;
    max-width: 600px;
    margin-top: 15px;
    line-height: 1.5;
}
header h1  {
    padding-left: 120px;
   
    color: #fff;
    font-weight: 600;
    font-size: 2.1rem;
    text-decoration: none;
}
 
  
.hero-section button {
    width: 180px;
    color:#000;
    font-size:12px;
    padding:12px 0;
    background:#fff;
    border:0;
    border-radius:20px;
    outline:none;
    margin-top:30px;
}

.hero-section button:hover {
    background: violet;
    color: #fff; 
}



.home > footer {
    position: fixed; 
    bottom: 0; 
    width: 100%; 
   
    color: #fff; 
    text-align: center; 
    padding: 20px 0;
    z-index: 999; 
}



/*Styles pour la galerie d'images */

 .glerie {
    background: grey; 
    font-family: sans-serif; 
}

.glerie main {
    padding-top: 10%;
    padding-bottom: 50px; 
}

main h2 {
    text-align: center;
    font-style: italic;
    font-size: 200%;
}

main p {
    font-size: 120%;
}

div.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    margin: 20px auto 0; 
    max-width: 1200px;
}

div.gallery figure {
    width: calc(33.33% - 20px); 
    margin-bottom: 20px; 
    box-sizing: border-box;
    border: 1px solid #ccc;
    background: wheat;
    margin-right: 15px; /
}

.gallery img {
    width: 100%;
    height: auto;
}


.gallery figure:hover {
    border: 1px solid #777;
}

 figcaption {
    padding: 15px; 
    text-align: center;
    color: white; 
}





/*Styles pour le formulaire */

.forming{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow-y: auto;
    background:  -webkit-linear-gradient(bottom, #0250c5, #d43f8d);
    background-size: cover;

  }

  .forming main h2 {
    text-align: center;
  }
.formulaire {
    max-width: 50%;
    background: #fff;
    text-align: center;
    border-radius:5px;
    padding: 30 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}


.forming {
    padding-top: 15%;
}


 

.forming label {
    display: block;
    margin-bottom: 10px;
}

.forming input[type="text"],
.forming input[type="email"],
.forming input[type="password"],
.forming input[type="number"],
.forming input[type="date"],
.forming input[type="color"],
.forming input[type="tel"],
.forming input[type="url"],
.forming input[type="search"],
.forming select,
.forming textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: none;
    font-size: 16px;
}

.forming input[type="file"],
.forming input[type="range"],
.forming input[type="checkbox"],
.forming input[type="radio"] {
    margin-bottom: 20px;
}

.forming input[type="submit"],
.forming input[type="reset"],
.forming button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color:  #00b380;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.forming input[type="submit"]:hover,
.forming input[type="reset"]:hover,
.forming button[type="submit"]:hover {
    background-color:rgba(255, 0, 0, 0.764);
}


@media screen and (max-width: 768px) {
    .forming > main {
        padding: 10px;
    }
}


/*Styles pour la page contenant le tableau de données*/

.tableit{
    min-height: 100vh;
    background: url('https://images-cdn.ubuy.co.in/635028a9a3f62670b3476f74-summer-tropical-tawaii-aloha-backdrop.jpg=') center center no-repeat;
    background-size: cover;
    display: flex;
    justify-content:center ;
    align-items: center;
    padding-top: 20%;
}


main.table  {
    width: 82vw;
    height: 90vh;
    background-color: #fff5;

    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;
    position:relative;
    overflow: hidden;
    margin-bottom: 20%; 

}

.table__header {
    width: 100%;
    height: 10%;
    background-color: #fff4;
    padding: .8rem 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table__header .input-group {
    width: 35%;
    height: 100%;
    background-color: #fff5;
    
    padding: 1.2rem 1rem 0.8rem;
    border-radius: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: .2s;
}

.table__header .input-group:hover {
    width: 45%;
    background-color: #fff8;
    box-shadow: 0 .1rem .4rem #0002;
}

.table__header .input-group img {
    width: 1.2rem;
    height: 1.2rem;
}

.table__header .input-group input {
    width: 100%;
    padding: 0 .5rem 0 .3rem;
    background-color: transparent;
    border: none;
    outline: none;
}

.table__body {
    width: 95%;
    max-height: calc(89% - 1.6rem);
    background-color: #fffb;

    margin: .8rem auto;
    border-radius: .6rem;

    overflow: auto;
    overflow: overlay;
}


.table__body::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb{ 
    visibility: visible;
}


table {
    width: 100%;
}

td img {
    width: 36px;
    height: 36px;
    margin-right: .5rem;
    border-radius: 50%;

    vertical-align: middle;
}

table, th, td {
    border-collapse: collapse;
    padding: 1rem;
    text-align: left;
}

thead th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #d5d1defe;
    cursor: pointer;
    text-transform: capitalize;
}

tbody tr:nth-child(even) {
    background-color: #0000000b;
}

tbody tr {
    --delay: .1s;
    transition: .5s ease-in-out var(--delay), background-color 0s;
}

tbody tr.hide {
    opacity: 0;
    transform: translateX(100%);
}

tbody tr:hover {
    background-color: #fff6 !important;
}

tbody tr td,
tbody tr td p,
tbody tr td img {
    transition: .2s ease-in-out;
}

tbody tr.hide td,
tbody tr.hide td p {
    padding: 0;
    font: 0 / 0 sans-serif;
    transition: .2s ease-in-out .5s;
}

tbody tr.hide td img {
    width: 0;
    height: 0;
    transition: .2s ease-in-out .5s;
}

.sa {
    padding: .4rem 0;
    border-radius: 2rem;
    text-align: center;
}

.Maximale {
    background-color: #86e49d;
    color: #006b21;
}

.Basse{
    background-color: #d893a3;
    color: #b30021;
}

.Moyenne{
    background-color: #ebc474;
    color:orange;
    
}





thead th span.icon-arrow {
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    border: 1.4px solid transparent;
    
    text-align: center;
    font-size: 1rem;
    
    margin-left: .5rem;
    transition: .2s ease-in-out;
}

thead th:hover span.icon-arrow{
    border: 1.4px solid #6c00bd;
}

thead th:hover {
    color: #6c00bd;
}

thead th.active span.icon-arrow{
    background-color: #6c00bd;
    color: #fff;
}

thead th.asc span.icon-arrow{
    transform: rotate(180deg);
}

thead th.active,tbody td.active {
    color: #6c00bd;
}

.export__file {
    position: relative;
}

.export__file .export__file-btn {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background: #fff6 url(images/export.png) center / 80% no-repeat;
    border-radius: 50%;
    transition: .2s ease-in-out;
}

.export__file .export__file-btn:hover { 
    background-color: #fff;
    transform: scale(1.15);
    cursor: pointer;
}

.export__file input {
    display: none;
}

.export__file .export__file-options {
    position: absolute;
    right: 0;
    
    width: 12rem;
    border-radius: .5rem;
    overflow: hidden;
    text-align: center;

    opacity: 0;
    transform: scale(.8);
    transform-origin: top right;
    
    box-shadow: 0 .2rem .5rem #0004;
    
    transition: .2s;
}

.export__file input:checked + .export__file-options {
    opacity: 1;
    transform: scale(1);
    z-index: 100;
}

.export__file .export__file-options label{
    display: block;
    width: 100%;
    padding: .6rem 0;
    background-color: #f2f2f2;
    
    display: flex;
    justify-content: space-around;
    align-items: center;

    transition: .2s ease-in-out;
}

.export__file .export__file-options label:first-of-type{
    padding: 1rem 0;
    background-color: #86e49d !important;
}

.export__file .export__file-options label:hover{
    transform: scale(1.05);
    background-color: #fff;
    cursor: pointer;
}

.export__file .export__file-options img{
    width: 2rem;
    height: auto;
}




/*Responsivité*/

@media screen and (max-width: 1000px) {
    main.table {
        width: 95vw;
    }

    .gallery figure {
        width: calc(50% - 20px);
        margin-right: 10px;
    }
}

@media screen and (max-width: 768px) {

    main.table {
        width: 90vw;
    }

    .gallery figure {
        width: calc(100% - 20px);
        margin-right: 0;
    }
}


@media screen and (max-width: 480px) {
  
   

    .gallery figure {
        width: calc(100% - 20px);
        margin-right:0;
    }
}


@media screen and (max-width: 480px) {
    nav {
        padding: 20px 10px; 
    }

    nav ul {
        font-size: 0.7em;
        padding: 0; 
    }

    nav ul li {
        margin-right: 10px; 
    }
}


@media screen and (max-width: 1000px) {
    main.table {
        width: 90vw;
        max-height: 80vh; 
        padding: 20px; 
    }

    table {
        font-size: 0.9em; 
    }

    tbody tr th,
    tbody tr td {
        padding: 0.5rem;
    }
}

@media screen and (max-width: 1000px) {
    main.table {
        width: 95%; 
        max-height: 70vh; 
        overflow-x: auto; 
    }

    table {
        font-size: 0.9em; 
    }

    tbody tr th,
    tbody tr td {
        padding: 0.5rem; 
    }
}


@media screen and (max-width: 480px) {
    main.table {
        width: 100%; 
        max-height: 100%; 
        overflow-x: auto; 
    }

    table {
        font-size: 0.8em; 
    }

    tbody tr th,
    tbody tr td {
        padding: 0.4rem; 
    }
}

@media screen and (max-width: 768px) {
    body.tableit {
        background-size: auto;
        background-position: center; 
    }
}




/*Styles pour le menu de navigation*/

nav {
    position: fixed;
    top: 0;
    right: 0; 
    padding: 20px 100px;
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    z-index: 99;
}

nav ul {
    display: flex;
    margin: 0; 
    padding: 0; 
}

nav ul li {
    margin: 0 10px;
    list-style: none; 
}

nav ul li a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
}

nav ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

nav ul li a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}


/*Styles pour la page de connexion*/



.lgin {
    display: flex; 
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    background: black;
}
.lgin.box:hover {
    box-shadow:0 0  60px #ff0000;


 }

.lgin.box{
    position: relative;
    width:380px;
    height:420px;
    background:fixed;
    border-radius:8px;
    overflow: hidden;


}
.lgin.box::before 
{

   content:'';
   position:absolute;
   top:-50%;
   left:-50%;
   width:380px;
   height:420px;
   background: linear-gradient(0deg,transparent,
   transparent,#45f3ff,#45f3ff,#45f3ff);
   z-index:1;
   transform-origin:bottom right;
   animation: animate 5s linear infinite;
  
}

.lgin.box::after

{

   content:'';
   position:absolute;
   top:-50%;
   left:-50%;
   width:380px;
   height:420px;
   background: linear-gradient(0deg,transparent,
   transparent,#45f3ff,#45f3ff,#45f3ff);
   z-index:1;
   transform-origin:bottom right;
   animation: animate 5s linear infinite;
   animation-delay:-3s;
   

}

.lgin.borderLine{

position:absolute;
top:0;
inset:0;
}

.lgin.borderLine::before{

   content:'';
   position:absolute;
   top:-50%;
   left:-50%;
   width:380px;
   height:420px;
   background: linear-gradient(0deg,transparent,
   transparent,darkred,darkred,darkred);
   z-index:1;
   transform-origin:bottom right;
   animation: animate 5s linear infinite;
   animation-delay:-1.5s;
}
.lgin .borderLine::after{

    content:'';
    position:absolute;
    top:-50%;
    left:-50%;
    width:380px;
    height:420px;
    background: linear-gradient(0deg,transparent,
    transparent,darkred,darkred,darkred);
    z-index:1;
    transform-origin:bottom right;
    animation: animate 5s linear infinite;
    animation-delay:-4.5s;
}

 @keyframes animate{
 0%
  
 {transform:rotate(0deg);

 }
 100%

 {transform:rotate(360deg);


 } 
}


.lgin.box form {

position:absolute;
inset:4px;
background:#222;
padding:50px 40px;
border-radius:8px;
z-index:2;
display:flex;
flex-direction:column;

}

.lgin.box form h2 {
    color:wheat;
    font-weight: 500;
    text-align:center;
    letter-spacing: 0.1em;
}


.lgin.box form.inputBox {

    position: relative;
    width:300px;
    margin-top:35px;

}


.lgin.box form.inputBox input {
    position: relative;
    width:100%;
    padding:20px  10px 10px;
    background:transparent;
    outline:none;
    border:none;
    box-shadow:none;
    color:black;
    font-size:1em;
    letter-spacing:0.05em;
    transition:0.5s;
    z-index:10;
}

.lgin.box form.inputBox span {
    position:absolute;
    left:0;
    padding:20px 0px 10px;
    pointer-events:none;
    color:#8f8f8f;
    font-size:1em;
    letter-spacing:0.05em;
    transition:0.5s;



}
.lgin label{
    color:white;
}


.lgin.box form.inputBox input :valid~span
.lgin.box form.inputBox input :focus~span {
    color:#fff;
    font: size 0.75em;
    transform:translateY(-34px);

}

.lgin.box form .inputBox i
{
    position:absolute;
    left:0;
    bottom:0;
    width: 100%;
    height:2px;
    background:#fff;
    border-radius:4px;
    overflow:hidden;
    transition:0.5s;
    pointer-events:none;

}

.lgin.box form.inputBox input :valid~i
.lgin.box form.inputBox input :focus~i {


    height:44px
}

.lgin.box form .links{

display:flex;
justify-content:space-between

}

.lgin.box form .links a {

margin:10px 0;
font-size:0.75em;
color:#8f8f8f;
text-decoration:none;

}

.lgin.box form .links a:hover,
.lgin.box form .links a:nth-child(2)
{
color:#fff
}

.lgin.box form input[type="submit"] {

border:none;
outline:none;
padding:9px 25px;
background:rgba(255, 0, 0, 0.545);
cursor:pointer;
font-size: 0.9em;
border: radius 4px;
font-weight:600;
width:100px;
margin-top:10px;

}

.lgin.box form input[type="submit"]:active {

    opacity:0.8;
   

}

/*La page login n'est pas totalement finalisée ,il y'a quelques détails que je voulais encore apporter,merci pour votre compréhension*/